<template name="home">
    <head>
        <title>Snaptron</title>
    </head>

    <body>
    {{> navbar}}
    <br>
    <div class="container">
        <div class="well well-lg">
            <h2>Enter a region to start exploring</h2>
            <br>
            <p>Try "chr6:1-1000000" or a gene name. Optionally, load an example:</p>
            <p>
                <a id="cd99btn" class="btn btn-primary btn-sm">CD99</a>
                <a id="drd4btn" class="btn btn-primary btn-sm">DRD4</a>
                <a id="httbtn" class="btn btn-primary btn-sm">HTT</a>
                <a id="alkbtn" class="btn btn-primary btn-sm">ALK</a>
            </p>
        </div>
    </div>
    {{> querybar}}
    </body>
</template>