<template name="home">
    <head>
        <title>Snaptron</title>
    </head>

    <body>
    {{> navbar}}
    <br>
    <div class="container">
        <div class="well well-lg">
            <h2>Enter a query to start exploring</h2>
            <br>
            <p>Try "chr6 1-1000000" or a gene name. Optionally, load an example:</p>
            <p>
                <a href="/query/regions=CD99" class="btn btn-primary btn-sm">CD99</a>
                <a href="/query/regions=DRD4" class="btn btn-primary btn-sm">DRD4</a>
                <a href="/query/regions=chr6:1-1000000" class="btn btn-primary btn-sm">chr6:1-1000000</a>
            </p>
        </div>
    </div>
    {{> querybar}}
    </body>
</template>