<template name="querybar">
    <body>
    <div class="container">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Regions (Comma Separated)" id="regionInput">
                <span class="input-group-btn">
                    <button class="btn btn-success submit" type="button">Submit</button>
                </span>
        </div>
        {{#if loadingQuery}}
            <div class="progress progress-striped active">
                <div class="progress-bar" style="width: 100%"></div>
            </div>
        {{/if}}
        <a href="#" class="btn btn-link" data-toggle="collapse" data-target="#options">Advanced Options</a>
        <div id="options" class="collapse">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 col-xs-4">Intron Length</div>
                        <div class="col-lg-1 col-md-2 col-xs-3">
                            <select class="form-control" id="lengthInputOp">
                                <option>&gt;</option>
                                <option>&ge;</option>
                                <option>&lt;</option>
                                <option>&le;</option>
                                <option>=</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-xs-5">
                            <input type="text" class="form-control" size="6" id="lengthInput">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-2 col-xs-4">Samples Count</div>
                        <div class="col-lg-1 col-md-2 col-xs-3">
                            <select class="form-control" id="samplesCountInputOp">
                                <option>&gt;</option>
                                <option>&ge;</option>
                                <option>&lt;</option>
                                <option>&le;</option>
                                <option>&equals;</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-xs-5">
                            <input type="text" class="form-control" size="6" id="samplesCountInput">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-2 col-xs-4">Coverage Sum</div>
                        <div class="col-lg-1 col-md-2 col-xs-3">
                            <select class="form-control" id="coverageSumInputOp">
                                <option>&gt;</option>
                                <option>&ge;</option>
                                <option>&lt;</option>
                                <option>&le;</option>
                                <option>&equals;</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-xs-5">
                            <input type="text" class="form-control" size="6" id="coverageSumInput">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-2 col-xs-4">Coverage Average</div>
                        <div class="col-lg-1 col-md-2 col-xs-3">
                            <select class="form-control" id="coverageAvgInputOp">
                                <option>&gt;</option>
                                <option>&ge;</option>
                                <option>&lt;</option>
                                <option>&le;</option>
                                <option>&equals;</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-xs-5">
                            <input type="text" class="form-control" size="6" id="coverageAvgInput">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-2 col-xs-4">Coverage Median</div>
                        <div class="col-lg-1 col-md-2 col-xs-3">
                            <select class="form-control" id="coverageMedInputOp">
                                <option>&gt;</option>
                                <option>&ge;</option>
                                <option>&lt;</option>
                                <option>&le;</option>
                                <option>&equals;</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-xs-5">
                            <input type="text" class="form-control" size="6" id="coverageMedInput">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </body>
</template>