<template name="queryResults">
    <body>
    {{> navbar}}
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Overview</h3>
            </div>
            <div class="panel-body">
                <p><strong class="col-lg-2">Snaptron Query </strong>{{queryStr}}</p>
                <p><strong class="col-lg-2">Junctions </strong>{{numJunctions}}</p>
                <p><strong class="col-lg-2">Query Date </strong>{{queryDate}}</p>
            </div>
        </div>
        <h2>Junction Map</h2>
        {{> linearMap}}
    </div>
    </body>
</template>