<template name="queryResults">
    <body>
    {{> navbar}}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Overview</h2>
            </div>
            <div class="panel-body">
                <row>
                    <div class="col-md-6">
                        <row>
                            <strong class="col-xs-3">Regions</strong>
                            <div class="col-xs-9">
                                {{regions}}
                            </div>
                        </row>
                        <br>
                        <row>
                            <strong class="col-xs-3">Junctions</strong>
                            <div class="col-xs-9">
                                {{numJunctions}}
                            </div>
                        </row>
                        <br>
                        <row>
                            <strong class="col-xs-3">Query&nbsp;Date</strong>
                            <div class="col-xs-9">
                                {{queryDate}}
                            </div>
                        </row>
                        <br>
                    </div>
                    <row>
                        <div class="col-md-6">
                            <strong class="col-xs-3">Filters</strong>
                            <br>
                            <div class="col-xs-9">
                                {{{filterSummary}}}
                            </div>
                        </div>
                    </row>
                </row>
            </div>
        </div>
        <h2>Map</h2>
        {{> linearMap}}
        <br>
        <br>
        <br>
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title" data-toggle="collapse" href="#collapse1">
                    <a>Raw Junction Data <span class="caret"></span></a>
                </h2>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    {{> junctionTable}}
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    </body>
</template>