<template name="querybar">
    <body>
    <div class="container">
        <div class="input-group">
            <input type="text" class="form-control search_input" placeholder="Query"
                   value="regions=chr11:82970135-82997450&rfilter=samples_count>:100&rfilter=coverage_sum>:1000">
                <span class="input-group-btn">
                    <button class="btn btn-success submit" type="button">Submit</button>
                </span>
        </div>
    </div>
    </body>
</template>