<template name="junctionInclusionRatioResults">
    <h4>Junction Inclusion Ratio</h4>
    <ul>
        {{#each groupsList}}
            <li>
                <strong>Group {{this.key}}: </strong>{{this.val}}
            </li>
        {{/each}}
        <li>
            <strong>Sample Filter: </strong>{{{sfilter}}}
        </li>
        <li>
            <strong>Notes: </strong>{{{notes}}}
        </li>
    </ul>
    <br>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#histogram{{this._id}}" data-toggle="tab" aria-expanded="true">Histogram</a></li>
        <li class=""><a href="#results{{this._id}}" data-toggle="tab" aria-expanded="false">Top {{kParam}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="results{{this._id}}">
            {{#if Template.subscriptionsReady}}
                <p class="text-center">Click a row for more sample information</p>
                {{> reactiveTable collection=resultsArr settings=tableSettings}}
            {{else}}
                <p class="text-center text-muted">Sample information is loading</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            {{/if}}
        </div>
        <div class="tab-pane active" id="histogram{{this._id}}">
            <br>
            {{{selectionText}}}
            <br>
            <p class="text-center"><strong>Inclusion Ratio Histogram</strong></p>
            <svg id="hist{{this._id}}">
            </svg>
            <p class="text-center"><b><i>D</i></b></p>
        </div>
    </div>
</template>
