<template name="processorsPanel">
    <div class="panel panel-default col-xs-12 col-md-4">
        <div class="panel-body">
            <h4>Analyze</h4>
            <form>
                <div class="form-group">
                    <label class="control-label" for="processorType">Method</label>
                    <select class="form-control" id="processorType">
                        {{#each processorTypes}}
                            <option>{{this}}</option>
                        {{/each}}
                    </select>
                    <i>{{selectedTypeDescription}}</i>
                </div>
                {{#each processorGroups}}
                    <div class="form-group">
                        <label class="control-label" for="{{this}}">Group {{this}}</label>
                        <select class="form-control groupSelect" id="{{this}}">
                            {{#each queryGroups}}
                                <option value="{{this._id}}">{{groupOptionText this}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/each}}
                {{#each processorSelects}}
                    <div class="form-group">
                        <label class="control-label" for="pSelect{{this.param}}">{{this.name}}</label>
                        <select class="form-control" id="pSelect{{this.param}}">
                            {{#each this.opts}}
                                <option>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/each}}
                {{#each processorInputs}}
                    <div class="form-group">
                        <label class="control-label" for="pSelect{{this.param}}">{{this.name}}</label>
                        <input class="form-control" id="pSelect{{this.param}}" type="text">
                    </div>
                {{/each}}
                <div class="form-group">
                    <button class="btn btn-primary pull-right {{#unless valid}}disabled{{/unless}}" id="analyzeBtn"
                            type="button">
                        Analyze
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>