<template name="processors">
    <row>
        <div class="panel panel-default col-xs-5">
            <div class="panel-body">
                <h4>Analyze</h4>
                <form>
                    <div class="form-group">
                        <label class="control-label" for="processorType">Method</label>
                        <select class="form-control" id="processorType">
                            {{#each processorTypes}}
                                <option>{{this}}</option>
                            {{/each}}
                        </select>
                        <i>{{selectedTypeDescription}}</i>
                    </div>
                    {{#each processorGroups}}
                        <div class="form-group">
                            <label class="control-label" for="{{this}}">Group {{this}}</label>
                            <select class="form-control groupSelect" id="{{this}}">
                                {{#each queryGroups}}
                                    <option>{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{/each}}
                    <div class="form-group">
                        <button class="btn btn-primary pull-right {{#unless valid}}disabled{{/unless}}" id="analyzeBtn"
                                type="button">
                            Analyze
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </row>
</template>