<template name="sampleNormalizedDiffResults">
    <h4><i>Sample Normalized Difference</i></h4>
    <row>
        <div class="col-xs-6">
            <h5>Parameters</h5>
            <ul>
                {{#each paramsList}}
                    <li>
                        <strong>{{this.key}}: </strong><i>{{this.val}}</i>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-xs-6">
            <h5>Input Groups</h5>
            <ul>
                {{#each groupsList}}
                    <li>
                        <strong>{{this.key}}: </strong><i>{{this.val}}</i>
                    </li>
                {{/each}}
            </ul>
        </div>
    </row>
    <hr>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#histogram{{this._id}}" data-toggle="tab" aria-expanded="true">Histogram</a></li>
        <li class=""><a href="#results{{this._id}}" data-toggle="tab" aria-expanded="false">Top K</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="results{{this._id}}">
            {{> reactiveTable collection=resultsArr settings=tableSettings}}
        </div>
        <div class="tab-pane active" id="histogram{{this._id}}">
            <br><br>
            {{{selectionText}}}
            <br>
            <p class="text-center"><strong>Normalized Difference Histogram</strong></p>
            <svg id="hist{{this._id}}">
            </svg>
            <p class="text-center"><b><i>D</i></b></p>
        </div>
    </div>
    {{#if isCurrentUsers}}
        <button href="#" class="btn btn-sm btn-link text-danger pull-right" id="removeProcessor">Delete</button>
        <br>
    {{/if}}
</template>