<template name="sampleNormalizedDiffResults">
    <h4>Sample Normalized Difference <i class="fa fa-bar-chart pull-right"></i></h4>
    <br>
    <ul>
        {{#each groupsList}}
            <li>
                <strong>Group {{this.key}}: </strong>{{this.val}}
            </li>
        {{/each}}
    </ul>
    <br>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#histogram{{this._id}}" data-toggle="tab" aria-expanded="true">Histogram</a></li>
        <li class=""><a href="#results{{this._id}}" data-toggle="tab" aria-expanded="false">Top {{kParam}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="results{{this._id}}">
            {{> reactiveTable collection=resultsArr settings=tableSettings}}
        </div>
        <div class="tab-pane active" id="histogram{{this._id}}">
            <br>
            {{{selectionText}}}
            <br>
            <p class="text-center"><strong>Normalized Difference Histogram</strong></p>
            <svg id="hist{{this._id}}">
            </svg>
            <p class="text-center"><b><i>D</i></b></p>
        </div>
    </div>
    {{#if isCurrentUsers}}
        <button href="#" class="btn btn-sm btn-link text-danger pull-right" id="removeProcessor">Delete</button>
        <br>
    {{/if}}
</template>