<template name="accountPage">
    <body>
    {{> navbar}}
    <div class="container">
        {{#if isSignedIn}}
            <div class="panel panel-info col-xs-12">
                <br>
                <h1 class="panel-title"><strong>Account Information</strong></h1>
                <div class="panel-body">
                    <p>
                        <strong>Email</strong>: {{userEmail}}
                    </p>
                    <p>
                        <strong>Queries</strong>: {{numQueries}}
                    </p>
                    <p>
                        <strong>Password</strong>: <a href="#" id="changePassword" data-toggle="modal"
                                                      data-target="#changePasswordModal">Change</a>
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="panel panel-info col-xs-12 col-md-6">
                    <br>
                    <h3 class="panel-title">Queries</h3>
                    <div class="panel-body">
                        {{#if hasQueries}}
                            <ul class="list-group">
                                {{#each queries}}
                                    <li class="list-group-item">
                                        <a href="/query/{{this._id}}">
                                            <h5 class="list-group-item-heading">
                                                <b>{{{queryName this}}}</b>
                                            </h5>
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Date: </strong>{{queryDate this}}
                                        <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Regions: </strong>{{regions this}}
                                        <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<a
                                            class="btn btn-danger btn-xs removeQryBtn pull-right">Remove</a>
                                    </li>
                                {{/each}}
                            </ul>
                        {{else}}
                            <i>You have no queries currently</i>
                        {{/if}}
                    </div>
                </div>
                <br>
                <div class="panel panel-info col-xs-12 col-md-6">
                    <br>
                    <h3 class="panel-title"><span class="fa fa-star"></span> Starred Queries</h3>
                    <div class="panel-body">
                        {{#if hasStarredQueries}}
                            <ul class="list-group">
                                {{#each starredQueries}}
                                    <li class="list-group-item">
                                        <a href="/query/{{this._id}}">
                                            <h5 class="list-group-item-heading">
                                                <b>{{{queryName this}}}</b>
                                            </h5>
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Date: </strong>{{queryDate this}}
                                        <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Regions: </strong>{{regions this}}
                                        <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<a
                                            class="btn btn-danger btn-xs unstarQryBtn pull-right">Remove</a>
                                    </li>
                                {{/each}}
                            </ul>
                        {{else}}
                            <i>You have no queries starred</i>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{else}}
            <div class="jumbotron">
                <p>Please <a href="#" id="accountNavMenuItem"
                             data-toggle="modal" data-target="#accountNavModal">
                    sign in</a>
                    to see your account</p>
            </div>
        {{/if}}
    </div>

    <div class="modal" id="changePasswordModal" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <p class="text-warning">{{changePasswordError}}</p>
                    <form>
                        <div class="form-group">
                            <label for="oldPasswordInput">Current Password</label>
                            <input type="password" class="form-control" id="oldPasswordInput">
                        </div>
                        <div class="form-group">
                            <label for="newPasswordInput">New Password</label>
                            <input type="password" class="form-control" id="newPasswordInput">
                        </div>
                        <div class="form-group">
                            <label for="newPasswordInputConfirm">Confirm New Password</label>
                            <input type="password" class="form-control" id="newPasswordInputConfirm">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary pull-right" id="changePasswordButton">Change</button>
                        </div>
                    </form>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>