<template name="about">
    <head>
        <title>About Snaptron</title>
    </head>

    <body>
    {{> navbar}}
    <div class="container">
        <h1>About</h1>
        <h4>Project Home: <a href="https://github.com/PhaniGaddipati/SnaptronUI"><i class="fa fa-github"></i> SnaptronUI</a>
        </h4>
        <br>
        <p>
            This webapp provides direct access to the exon-exon junction data accumulated in the <a
                href="https://github.com/nellore/intropolis/">Intropolis</a> database. The
            database is derived from the <a href="http://www.ncbi.nlm.nih.gov/sra">Sequence Read Archive (SRA)</a> from
            over 20,000 samples.
        </p>
        <p>
            This website is a visual front-end to the CLI tool <a href="https://github.com/ChristopherWilks/snaptron">Snaptron</a>.
            Sanptron can be used independently to acquire/analyze junction data.
        </p>

        <p>
            This and Snaptron were developed at the <a href="http://www.langmead-lab.org/">Langmead Lab</a> of Johns
            Hopkins University.
        </p>

        <h1>References</h1>
        <ul>
            <li><a href="http://biorxiv.org/content/early/2016/01/29/038224">Human splicing diversity across the
                Sequence Read Archive</a></li>
        </ul>
    </div>
    </body>
</template>