<template name="junctionTable">

    <form class="form-inline">
        <div class="form-group">
            <label for="showSelect"><strong>Show&nbsp;</strong></label>
            <select class="form-control" id="showSelect">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
                <option>500</option>
            </select>
        </div>
    </form>
    <br>
    <div style="overflow-x: auto;overflow-y: auto;max-height: 400px;">
        <table class="table table-hover table-bordered table-condensed" id="junctionTable" style="white-space: nowrap;">
            <thead>
            <tr id="junctionTableHeaderRow"></tr>
            </thead>
            <tbody id="junctionTableBody">

            </tbody>
        </table>
    </div>
</template>