<template name="linearMap">
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <label for="colorBySelect">Color By:&nbsp;</label>
                <select class="form-control" id="colorBySelect">
                    {{#each colorOptions}}
                        <option>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            &nbsp;&nbsp;&nbsp;
            <div class="form-group">
                <label for="modelSelect">Gene Model:&nbsp;</label>
                <select class="form-control" id="modelSelect">
                    <option value="None">None</option>
                    {{#each regions}}
                        {{#each this.models}}
                            <option value="{{../_id}}:{{@index}}">{{modelOptionText ../_id this @index}}</option>
                        {{/each}}
                    {{/each}}
                </select>
            </div>
            <a class="btn btn-default resetView pull-right col-xs-4 col-md-2 col-lg-1">Reset View</a>
        </form>
    </div>
    <br>
    <div class="row">
        <div class="panel panel-default col-xs-12">
            <div class="panel-body">
                {{currentlyVisible}}
                <i class="pull-right">Unannotated</i>
                <div class="svg-container"></div>
                <div class="row">
                    <div class="scale-container col-xs-6"></div>
                    <i class="pull-right text-right col-xs-6">Annotated</i>
                </div>
                {{#if geneModelDisplayed}}
                    <h4>Gene Model</h4>
                    {{{geneModelInfo}}}
                {{/if}}
            </div>
        </div>
    </div>
</template>