<template name="linearMap">
    <div>
        <row>
            <div class="form-group form-inline col-sm-3">
                <label>Color By:&nbsp;</label>
                <select class="form-control" id="colorBySelect">
                </select>
            </div>
            <a class="btn btn-default resetView pull-right col-xs-4 col-md-2 col-lg-1">Reset View</a>
        </row>
        <br>
        <row>
            <div class="panel panel-default col-xs-12">
                <div class="panel-body">
                    {{currentlyVisible}}
                    <i class="pull-right">Unannotated</i>
                    <div class="svg-container"></div>
                    <row>
                        <div class="scale-container col-xs-6"></div>
                        <i class="pull-right text-right col-xs-6">Annotated</i>
                    </row>
                </div>
            </div>
        </row>
    </div>
</template>