<template name="editFiltersModal">
    <div class="modal" id="filterModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Filters</h4>
                </div>
                <div class="modal-body" id="editFiltersBody">
                    <ul id="currentFiltersList">
                    </ul>
                    <div id="noFilterDiv"></div>
                    <hr>
                    <div class="form form-group form-inline">
                        <select class="form-control" id="addFieldSelect"></select>
                        <select class="form-control" id="addOpSelect">
                            <option>&gt;</option>
                            <option>&ge;</option>
                            <option>&lt;</option>
                            <option>&le;</option>
                            <option>=</option>
                        </select>
                        <input type="text" size="6" class="form-control" id="addValInput">
                        <button class="btn btn-default pull-right" id="addFilterBtn">Add Filter</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modalDoneBtn" data-dismiss="modal"
                            data-target="#filterModal">Done
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>