<template name="queryResults">
    <body>
    {{> navbar}}
    <div class="container">
        {{#if isCurrentUsers}}
            {{> editFiltersModal}}
            {{> editRegionsModal}}
            {{#if isAbandonedByUser}}
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">&#10006;</button>
                    <h4>Orphaned Query</h4>
                    You own this query but have removed it from your account. <a href="#" id="addOwnedQryBtn">Add it
                    back</a>
                </div>
            {{/if}}
        {{/if}}
        {{#if isError}}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&#10006;</button>
                <h4>Warning!</h4>
                {{errorMessage}}
            </div>
        {{/if}}
        {{> overviewPanel}}
        <h2>Map</h2>
        {{> linearMap}}
        <br>
        <row>
            {{> selectionPanel}}
            {{> groupsPanel}}
            {{#if isCurrentUsers}}
                {{> processorsPanel}}
            {{/if}}
        </row>
        <br>
        <row>
            {{#each processors}}
                <div class="panel panel-success col-xs-12 col-md-6 col-lg-4">
                    {{> Template.dynamic template=processorTemplate}}
                </div>
            {{/each}}
        </row>
        <br>
        <br>
        <row>
            <a class="col-xs-12 text-left" style="color:inherit;" href="#junctionTableCollapse" data-toggle="collapse">
                <h2>All Junction Data <span class="caret"></span>
                </h2>
            </a>
            <div id="junctionTableCollapse" class="well panel-collapse panel-body collapse col-xs-12">
                {{> junctionTable}}
            </div>
        </row>
        <br>
        <br>
        <br>
        <br>
    </div>
    </body>
</template>