<template name="queryResults">
    <body>
    {{> navbar}}
    <div class="container">
        {{#if isCurrentUsers}}
            {{#if isAbandonedByUser}}
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">&#10006;</button>
                    <h4>Orphaned Query</h4>
                    You own this query but have removed it from your account. <a href="#" id="addOwnedQryBtn">Add it
                    back</a>
                </div>
            {{/if}}
        {{/if}}
        {{#if isError}}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&#10006;</button>
                <h4>Warning!</h4>
                {{errorMessage}}
            </div>
        {{/if}}
        {{> overviewPanel}}
        <h2>Junctions</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#linearMapTab" data-toggle="tab" aria-expanded="true">Arcs</a></li>
            <li class=""><a href="#scatterTab" data-toggle="tab" aria-expanded="false">Scatter Plot</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="linearMapTab">
                <br>
                {{> linearMap}}
            </div>
            <div class="tab-pane" id="scatterTab">
                <br>
                {{> scatterplotPanel}}
            </div>
        </div>
        <div class="row">
            {{> selectionPanel}}
            {{> groupsPanel}}
            {{#if isCurrentUsers}}
                {{> processorsPanel}}
            {{else}}
                <div class="panel panel-default col-xs-12 col-md-4">
                    <div class="panel-body">
                        <h4>Analysis</h4>
                        <i>Login to perform analysis</i>
                    </div>
                </div>
            {{/if}}
            {{#each processors}}
                <div class="panel panel-success col-xs-12 col-md-6 col-lg-4">
                    <br>
                    <i class="fa fa-bar-chart"></i>
                    <strong> Analysis Results</strong>
                    {{#if isCurrentUsers}}
                        <a href="#" class="text-danger pull-right" id="removeProcessor">
                            <i class="fa fa-trash"></i>
                        </a>
                        <br>
                    {{/if}}
                    <a href="#" class="text-muted"></a>
                    <hr>
                    {{> Template.dynamic template=processorTemplate}}
                </div>
            {{/each}}
        </div>
        <br>
        <br>
        <div class="row">
            <a class="col-xs-12 text-left" style="color:inherit;" href="#junctionTableCollapse"
               data-toggle="collapse">
                <h2>All Junction Data <span class="caret"></span>
                </h2>
            </a>
            <div id="junctionTableCollapse" class="well panel-collapse panel-body collapse col-xs-12">
                {{> junctionTable}}
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    </body>
</template>